*{
    box-sizing: border-box;
    margin: 0;
}
.wrapper {
    height: 100vh;
    width: 1440px;
    margin: 0 auto;
}

.course {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 50px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 10px;

}

.course-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.title {
    background-color: #8e9f8e;
    text-align: center;
    padding: 15px 0 15px 0;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.duration-info {
    margin-top: 15px;
    padding-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 75px;

}

.month-duration {
    background-color: #8e9f8e;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.hour-duration {
    background-color: #8e9f8e;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 25px;
}

.modules {
    background-color: #a8b5a8;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}
.modules h3 {
    padding: 0 0 15px 20px;
}
